*{
    box-sizing: border-box;
    max-width:1400px;
    width:100%;
    margin:auto;
    background-color:rgb(30, 30, 30);
}
header{
    padding-top:10px;
}
.logo{
    width: 140px; 
    float:left;
    padding-left:10px;
}
.texts{
    float:left;
    width:90%;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-top:40px;
    padding-left:10px;
    padding-right:10px;
}
.text{
    width:25%;
    float:left;
    padding-top: 26px;
    padding-bottom: 26px;
    text-align: center;
    background-color:rgba(255, 255, 255, 0);
    transition: background-color 0.5s;
}
.text:hover{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.text:active{
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.text a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 18px;
}

.clear{
    clear:left;
}



.contents{
    float:left;
    margin-top:100px;
    text-align: center;
    width: 100%;
}
.contents h1{
    color:rgb(249, 249, 249);
    font-weight: normal;
    font-size:40px
}
.english{
    color:rgb(255, 255, 255);
    font-size:16px;
    font-weight:bold;
    margin-top: 5px;
    margin-bottom:75px;
    letter-spacing: 0.1em;
}
.words p{
    color:rgb(255, 255, 255);
    font-size:14px;
    font-weight:normal;
    letter-spacing: 0.12em;
    width:70%;
}

.words{
    margin-bottom:100px;
}

.cont h2{
    color:white;
    font-weight: normal;
}

.phots{
    display: flex;
    flex-wrap:wrap;
    width:95%;
}

.phots img{
    flex:auto;
    width: 25%;
    padding:5px;
}

.cont p{
    margin-top:15px;
    width:70%;
    color:white;
    margin-bottom:30px;
}

.cont{
    border-bottom:1px solid white;
}

.cont2 h2{
    margin-top:100px;
    color:white;
    font-weight: normal;
}


.cont2 p{
    margin-top:15px;
    width:70%;
    color:white;
    margin-bottom:15px;
}


.description{
    display:flex;
    flex-wrap:wrap;
    width:95%;
}

.description img{
    flex:auto;
    width: 20%;
    padding:5px;
}





.b1 a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color:rgb(255, 255, 255);
    letter-spacing: 0.12em;
    margin-top:20px;
    margin-bottom:30px;
    font-weight:bold;
    padding-left:10px;
    width:180px;
}



.b1 ::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 1.5px;
    background: #ffffff;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: right top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;  /*変形の時間*/
    }
    
    .b1 :hover::after {
    transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
    transform-origin: left top; /*左から右に向かう*/
    }
    
    .b2 a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color:rgb(255, 255, 255);
        letter-spacing: 0.12em;
        margin-bottom:120px;
        font-weight:bold;
        padding-left:10px;
        width:210px;
    }
    
    
    
    .b2 ::after {
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        height: 1.5px;
        background: #ffffff;
        bottom: -1px;
        transform: scale(0, 1);
        transform-origin: right top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
        transition: transform 0.3s;  /*変形の時間*/
        }
        
        .b2 :hover::after {
        transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
        transform-origin: left top; /*左から右に向かう*/
        }



span{
    color:rgb(255, 255, 255);
}